

/*------------------------------
    2. Header Area CSS
--------------------------------*/
/*header menu sticky*/
.header-sticky{
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}
.header-sticky.is-sticky {
    background: rgba(247,247,233,0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,.1);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header-sticky.is-sticky .header-menu-area nav >  ul > li > a {
    padding: 20px 0;
}
/*4. Mobile Menu CSS*/
.mobile-menu .mean-nav > ul {
    overflow-y: auto;
    max-height: 400px;
}
.mobile-menu {
     -webkit-box-flex: 1 !important;
     -ms-flex: 1 0 100% !important;
     flex: 1 0 100% !important;
}
 .mobile-menu .mean-bar {
     position: relative;
    /*---- Mean Nav ----*/
}
.mobile-menu .mean-bar .meanmenu-reveal {
    position: absolute;
    top: -55px;
}
 .mobile-menu .mean-bar .meanmenu-reveal span {
     position: relative;
    /*---- Menu Open ----*/
    /*---- Menu Close ----*/
}
.mean-container a.meanmenu-reveal span {
    display: block;
    background: #282828;
    height: 3px;
    margin-top: 3px;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
     content: "";
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #202020;
}
.mean-container a.meanmenu-reveal {
    color: #282828;
}
.mean-container .mean-bar {
    padding: 0;
    min-height: 0;
}
.mean-container .mean-nav {
    background: transparent;
    margin-top: 0;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before {
     top: -8px;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
     bottom: -8px;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close {
     height: 2px;
     width: 26px;
     background-color: transparent;
     display: block;
     margin: 8px 0;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
     content: "";
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #202020;
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before {
     top: 0;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
     bottom: 0;
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
}
 .mobile-menu .mean-bar .mean-nav {
     background-color: #ffffff;
}
 .mobile-menu .mean-bar .mean-nav > ul {
     margin-bottom: 30px;
     border: 1px solid #eeeeee;
     border-top: 0px solid transparent;
     overflow-x: hidden;
}
 @media only screen and (max-width: 767px) {
     .mobile-menu .mean-bar .mean-nav > ul {
         max-height: 180px;
         overflow-y: auto;
    }
}
 @media only screen and (max-width: 479px) {
     .mobile-menu .mean-bar .mean-nav > ul {
         max-height: 220px;
         overflow-y: auto;
    }
}
 .mobile-menu .mean-bar .mean-nav > ul li {
     position: relative;
     display: block;
     float: left;
     width: 100%;
     padding: 0;
    /*---- Sub Menu & Mega Menu ----*/
}
.mobile-menu .mean-bar .mean-nav > ul li a {
    font-size: 13px;
    display: block;
    color: #444444;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 44px;
    position: relative;
    border-top: 1px solid #eeeeee;
    padding: 0 40px 0 20px;
    width: 100%;
}
.mobile-menu .mean-bar .mean-nav > ul li a:before{
    display: none;
}
 .mobile-menu .mean-bar .mean-nav > ul li a:hover {
     color: #202020;
     padding-left: 25px;
}
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand {
    border: 1px solid #eeeeee;
    position: absolute;
    right: -1px;
    top: 0;
    font-size: 20px !important;
    color: #444444;
    line-height: 44px;
    height: 46px;
    width: 40px;
    text-align: center;
    padding: 0 !important;
    background-color: transparent;
}
 .mobile-menu .mean-bar .mean-nav > ul li a.mean-expand.mean-clicked {
     line-height: 40px;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu, .mobile-menu .mean-bar .mean-nav > ul li ul {
    position: static;
    background-color: #fff;
    margin: 0;
    padding: 0 !important;
    width: 100%;
    box-shadow: none;
    display: none;
    float: left;
    min-width: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: perspective(0px) rotateX(0deg);
            transform: perspective(0px) rotateX(0deg);
    -webkit-transition: none;
    transition: none;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li, .mobile-menu .mean-bar .mean-nav > ul li ul li {
     padding: 0;
     margin: 0;
     -webkit-box-flex: 0;
     -ms-flex: 0 0 100%;
     flex: 0 0 100%;
     border-right: 0px solid transparent;
     width: 100%;
     display: block !important;
     float: left;
     width: 100%;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li a {
     font-size: 12px;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li a:before, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li a:before, .mobile-menu .mean-bar .mean-nav > ul li ul li a:before {
     display: none;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li ul {
     background-color: rgba(0, 0, 0, 0.04);
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul li a {
     border-top: 1px solid #dddddd;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul li a.mean-expand {
     border: 1px solid #dddddd;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul {
     background-color: rgba(0, 0, 0, 0.05);
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul li a {
     border-top: 1px solid #eeeeee;
}
 .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul li a.mean-expand {
     border: 1px solid #eeeeee;
}
/*Mobile Menu css end*/

        .header-absolute {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
        }
        .header-area .col-lg-9 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
        }
        .main-menu > li {
            list-style: none;
            display: inline-block;
            margin: 0 35px 0 0;
            padding: 10px 0;
            position: relative;
        }
        .main-menu > li > a {
            height: 42px;
            line-height: 42px;
            font-size: 15px;
            font-weight: 500;
            padding: 0 6px;
            text-transform: capitalize;
            position: relative;
            display: block;
        }
        .main-menu > li > a:before {
            position: absolute;
            content: "";
            bottom: 7px;
            left: 50%;
            right: 50%;
            background: #abd373;
            display: block;
            width: 0;
            height: 2px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .main-menu > li > a:hover:before{
            left: 0;
            right: 0;
            width: 100%;
        }
        .dropdown, .mega-menu {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 250px;
            padding: 20px 0;
            text-align: left;
            background-color: #fff;
            border: 1px solid #ededed;
            box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
            -webkit-transform: perspective(600px) rotateX(-90deg);
                    transform: perspective(600px) rotateX(-90deg);
            -webkit-transform-origin: 0 0 0;
                    transform-origin: 0 0 0;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            visibility: hidden;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            z-index: 99;
        }
        .main-menu > li:hover .dropdown,
        .main-menu > li:hover .mega-menu{
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            -webkit-transform: perspective(600px) rotateX(0deg);
                    transform: perspective(600px) rotateX(0deg);
            visibility: visible;
        }
        .dropdown > li {
            display: block;
            list-style: none;
        }
        .dropdown > li > a {
            font-size: 13px;
            line-height: 18px;
            padding: 10px 30px;
            display: block;
            font-weight: 400;
            color: #666666;
        }
        .dropdown > li > a:hover,
        .mega-menu > li > ul > li > a:hover{
            color: #abd373;
        }
        .mega-menu {
            width: 100%;
            min-width: 500px;
            padding: 35px 15px 20px 15px;
            left: auto;
            right: 0;
        }
        .mega-menu > li {
            float: left;
            width: 33.33%;
            padding: 0px 5px 20px 5px;
            list-style: none;
        }
        .mega-menu > li > a.item-link {
            font-size: 12px;
            font-weight: 700;
            color: #666;
            line-height: 18px;
            margin: 0 0 12px;
            pointer-events: none;
        }
        .mega-menu > li > ul > li {
            list-style: none;
            display: block;
        }
        .mega-menu > li > ul > li > a {
            font-size: 13px;
            color: #898989;
            display: block;
            padding: 7px 0;
            font-weight: 400;
            line-height: 18px;
        }

        /*mini cart and search area css*/
        .mini-cart-search {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
        .mini-cart-search > div {
            margin-right: 35px;
        }
        .mini-cart-search > div:last-child{
            margin-right: 0;
        }
        .mini-cart {
            position: relative;
            padding: 15px 0;
        }
        .mini-cart > a {
            color: #000;
            position: relative;
            padding-left: 35px;
            display: block;
        }
        .mini-cart:hover > a{
            color: #abd373; 
        }
        .cart-icon {
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
        .cart-icon:before {
            content: '\f07a';
            font-family: FontAwesome;
            line-height: 1;
            font-size: 18px;
            vertical-align: ;
        }
        .cart-quantity {
            position: absolute;
            background: #abd373;
            height: 19px;
            line-height: 19px;
            width: 19px;
            text-align: center;
            border-radius: 100%;
            color: #fff;
            font-size: 12px;
            left: 12px;
            top: -6px;
            z-index: 1;
        }
        .cart-title {
            display: block;
            font-size: 13px;
            font-weight: 500;
            text-align: left;
            line-height: 1;
        }
        .cart-title > strong {
            display: block;
            font-weight: 500;
            margin-top: 6px;
        }

        .search-box {
            position: relative;
        }
        .search-box > a {
            font-size: 18px;
            height: 62px;
            line-height: 62px;
            display: block;
            color: #000;
        }
        .search-box:hover > a{
            color: #abd373
        }

        .currency-box{
            position: relative;
        }
        .currency-box > a {
            font-size: 18px;
            line-height: 62px;
            height: 62px;
            color: #000;
            display: block;
            text-align: ;
        }
        .currency-box:hover > a{
            color: #abd373;
        }
        .currency-dropdown {
            background: #ffffff;
            color: #666666;
            font-size: 13px;
            min-width: 230px;
            padding: 30px 25px;
            position: absolute;
            right: 0;
            top: 100%;
            width: auto;
            text-align: left;
            z-index: 3000;
            box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            border-radius: 3px;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            visibility: hidden;
        }
        .currency-box:hover .currency-dropdown{
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            visibility: visible;
        }
        .currency-dropdown  ul.menu-top-menu {
            margin-bottom: 25px;
        }
        .menu-top-menu > li {
            list-style: none;
            margin-bottom: 6px;
            white-space: nowrap;
        }
        .menu-top-menu > li > a{
            font-size: 13px;
            color: #666;
            line-height: 25px;
        }
        .menu-top-menu > li > a:hover{
            color: #abd373;
        }
        /*header style 3*/
        .header-area.header-sticky.is-sticky .header-boxshadow {
            margin-top: 0;
        }
        .header-area.header-sticky.is-sticky .header-boxshadow:before,
        .header-area.header-sticky.is-sticky .header-boxshadow:after{
            display: none
        }
        .header-area.header-sticky.is-sticky .header-boxshadow .header-inner{
            background: transparent;
            padding: 0 15px;
            box-shadow: none;
        }
        .header-boxshadow {
            margin: 0 auto;
            max-width: 1170px;
            margin-top: 60px;
            position: relative;
        }
        .header-inner {
            background: #fff;
            padding: 10px 15px;
            margin: 0 auto;
            position: relative;
            z-index: 5;
            box-shadow: 0px 10px 30px 0px rgba(209,209,209,0.5);
        }
        .header-boxshadow:after,
        .header-boxshadow:before {
            background: #fff;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            box-shadow: 0px 10px 30px 0px rgba(209,209,209,0.5);
        }
        .header-boxshadow:before{
            left: 6px;
            right: 6px;
            top: 6px;
            z-index: 3;
        }
        .header-boxshadow:after{
            left: 12px;
            right: 12px;
            top: 12px;
            z-index: 2;
        }
        /*----------------------------
            Header Style 4 css
        ----------------------------*/
        /*header top css*/

        .header-top-right .menu-top-menu > li {
            display: inline-block;
            margin: 0 auto;
            position: relative;
        }
        .header-top-right .menu-top-menu > li:before {
            background: #fff;
            content: '';
            display: block;
            height: 15px;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            z-index: 9;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .header-top-right .menu-top-menu > li:last-child:before{
            display: none;
        }
        .header-top-right .menu-top-menu > li > a {
            display: block;
            height: 35px;
            line-height: 35px;
            color: ;
            color: #fff;
            padding: 0 10px;
            font-size: 12px;
        }
        .header-top-right .menu-top-menu > li:first-child > a{
            padding-left: 0;
        }
        .header-top-right .menu-top-menu > li:last-child > a{
            padding-right: 0;
        }
        .header-top-right .menu-top-menu > li > a:hover{
            color: #abd373;
        }
        /*header middle css*/
        .header-middle-area {
            padding: 30px 0;
        }
        .header-search-area {
            padding: 5px 15px;
        }
        .header-search-area form {
            background: transparent;
            border: 1px solid #555;
            overflow: hidden;
            position: relative;
            border-radius: 50px;
        }
        .header-search-area form input {
            border: none;
            color: #000000;
            height: 47px;
            line-height: 45px;
            margin: 0;
            max-width: 100%;
            outline: none;
            padding: 0 60px 0 20px;
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }
        .header-search-area form button {
            background: none;
            border: none;
            box-shadow: none;
            color: #000;
            font-size: 20px;
            height: 45px;
            line-height: 45px;
            outline: none;
            padding: 0;
            cursor: pointer;
            position: absolute;
            right: 0;
            text-align: center;
            top: 1px;
            width: 45px;
            z-index: 9;
            border-radius: 0;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }
        .header-search-area form button:hover{
            color: #abd373;
        }
        .header-middle-area .mini-cart {
            margin-left: 30px;
        }
        /*header bottom area css*/
        .header-bottom-area .header-boxshadow {
            margin-top: 0;
        }
        .header-bottom-area .header-inner {
            padding: 0;
        }
        .header-bottom-area.header-sticky.is-sticky .header-boxshadow {
            margin-top: 0;
        }
        .header-bottom-area.header-sticky.is-sticky .header-boxshadow:before,
        .header-bottom-area.header-sticky.is-sticky .header-boxshadow:after{
            display: none
        }
        .header-bottom-area.header-sticky.is-sticky .header-boxshadow .header-inner{
            background: transparent;
            box-shadow: none;
        }
        .logo-sticky {
            display: none;
        }
        .header-sticky.is-sticky .logo-sticky {
            float: left;
            display: block;
        }
        .header-sticky.is-sticky .header-menu {
            float: right;
            background: transparent;
        }

        /*-------------------------------------
    14. Footer Area CSS
---------------------------------------*/

/*--------------------------
    14.2 Footer Middle Area CSS
----------------------------*/
.footer-middle-area {
    padding-top: 30px;
    border-bottom: 1px solid rgba(61,58,45,0.1);
}
.footer-info {
    padding: 10px 0;
}
.icon {
    float: left;
    padding-top: 6px;
    color: #abd373;
    font-size: 24px;
}
.footer-info > p {
    font-size: 15px;
    line-height: 21px;
    margin-left: 35px;
    color: #ececec;
    margin-bottom: 0;
}
/*------------------------------------
    14.3 Footer Bottom Area CSS
------------------------------------*/
.footer-payments-image {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 35px;
}
.footer-menu ul > li {
    display: inline-block;
    list-style: none;
    border-right: 1px solid #999999;
    line-height: 13px;
}
.footer-menu ul > li:last-child{
    border-right: 0;
}
.footer-menu ul > li > a {
    color: #ececec;
    font-size: 12px;
    font-weight: 500;
    display: block;
    letter-spacing: 1px;
    padding: 0 15px;
    text-transform: uppercase;
}
.footer-menu ul > li:first-child > a{
    padding-left: 0;
}
.footer-menu ul > li:last-child > a{
    padding-right: 0;
}
.footer-menu ul > li > a:hover{
    color: #abd373;
    text-decoration: underline;
}
.footer-copyright > p {
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    color: #ececec;
    margin-top: 10px;
}
.footer-copyright > p > a {
    color: #abd373;
}
.footer-copyright > p > a:hover{
    text-decoration: underline;
}